body
{

color: rgb(41, 79, 32);
background-color: beige;
padding-left: 450px;

}

.estilo
{

    color: darkkhaki;

}

.producto
{

color: rgb(34, 57, 11);
background-color: beige;

}

.directorio
{

border-radius: 3px;

}